TESS/Service References/FeatureService/ReadService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tecmainse.tec.pad.tieto.com:1338/ReadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" />
  <xs:import schemaLocation="http://tecmainse.tec.pad.tieto.com:1338/ReadService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://tecmainse.tec.pad.tieto.com:1338/ReadService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://tecmainse.tec.pad.tieto.com:1338/ReadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FeatureService.Model" />
  <xs:element name="GetFeatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="GetFeaturesResult" nillable="true" type="q1:ArrayOfFeatures" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckedFeatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProdID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckedFeaturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCheckedFeaturesResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScriptFeatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prodID" type="xs:int" />
        <xs:element minOccurs="0" name="filetype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScriptFeaturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetScriptFeaturesResult" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsFeatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodid" type="xs:int" />
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsFeaturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="GetClientsFeaturesResult" nillable="true" type="q4:ArrayOfFeatures" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="GetCustomersResult" nillable="true" type="q5:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="copyFrom" nillable="true" type="q6:Client" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="copyTo" nillable="true" type="q7:Client" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LatestUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
        <xs:element minOccurs="0" name="prodid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LatestUpdatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LatestUpdatedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCiceronClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCiceronClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCiceronClientsResult" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientApplications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientid" type="xs:int" />
        <xs:element minOccurs="0" name="prodid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="GetClientApplicationsResult" nillable="true" type="q9:ArrayOfApplications" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="prod" nillable="true" type="q10:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetAdditionsResult" nillable="true" type="q11:ArrayOfKeyValuePairOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLicenseNR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lnr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLicenseNRResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseNRExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lnr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseNRExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LicenseNRExistResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="GetProductsResult" nillable="true" type="q12:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="itemsChecked" nillable="true" type="q13:ArrayOfFeatures" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="itemsUnchecked" nillable="true" type="q14:ArrayOfFeatures" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="client" nillable="true" type="q15:Client" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MaintenanceChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check" type="xs:boolean" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="hasThis" nillable="true" type="q16:Features" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="changeThese" nillable="true" type="q17:ArrayOfKeyValueOfintFeaturesJ6oMiCM0" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaintenanceChangesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewFeature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="information" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parent" type="xs:int" />
        <xs:element minOccurs="0" name="level" type="xs:int" />
        <xs:element minOccurs="0" name="appid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="highestlvl" type="xs:boolean" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="articleNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewFeatureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFeature">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="feat" nillable="true" type="q18:Features" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFeatureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFeature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="featurename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="featureinfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modid" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="articleNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFeatureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="newParent" nillable="true" type="q19:Features" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="oldFeature" nillable="true" type="q20:Features" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParentIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScripts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modid" type="xs:int" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filetype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScriptsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/FeatureService.Model" minOccurs="0" name="GetScriptsResult" nillable="true" type="q21:ArrayOfScript" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteNewScripts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="addList" nillable="true" type="q22:ArrayOfKeyValuePairOfArrayOfstringint9_SUPjmKX" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="feat" nillable="true" type="q23:Features" />
        <xs:element minOccurs="0" name="verId" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteNewScriptsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarningMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modid" type="xs:int" />
        <xs:element minOccurs="0" name="prodid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarningMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWarningMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodid" type="xs:int" />
        <xs:element minOccurs="0" name="kundid" type="xs:int" />
        <xs:element minOccurs="0" name="verid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/FeatureService.Model" minOccurs="0" name="GetLicenseTextResult" nillable="true" type="q24:ArrayOfScript" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="GetApplicationsResult" nillable="true" type="q25:ArrayOfApplications" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="GetVersionsResult" nillable="true" type="q26:ArrayOfMyVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="GetDefaultVersionResult" nillable="true" type="q27:MyVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDefaultVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodid" type="xs:int" />
        <xs:element minOccurs="0" name="verid" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDefaultVersionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verName" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="copyOf" nillable="true" type="q28:MyVersion" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewVersionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="GetUsersListResult" nillable="true" type="q29:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="GetUserResult" nillable="true" type="q30:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullNameUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateToday" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="read" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="admin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePrivileges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="read" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="admin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePrivilegesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/FeatureService.Contracts" minOccurs="0" name="GetEventsResult" nillable="true" type="q31:ArrayOfLogg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLicenses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLicensesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>