TESS/Service References/FeatureService/ReadService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FeatureService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FeatureService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfScript">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Script" nillable="true" type="tns:Script" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScript" nillable="true" type="tns:ArrayOfScript" />
  <xs:complexType name="Script">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileNr" type="xs:int" />
      <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModId" type="xs:int" />
      <xs:element minOccurs="0" name="OriginalFileNr" type="xs:int" />
      <xs:element minOccurs="0" name="ProdId" type="xs:int" />
      <xs:element minOccurs="0" name="Sort" type="xs:int" />
      <xs:element minOccurs="0" name="VerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Script" nillable="true" type="tns:Script" />
</xs:schema>